@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #fdfaec;
  --secondary-color: #FFEEAD;

  --neumorphic-shadow-light: 5px 5px 15px rgba(0, 0, 0, 0.1);
  --neumorphic-shadow-dark: -5px -5px 15px rgba(255, 255, 255, 0.1);
  --glass-border: 1px solid rgba(255, 255, 255, 0.2);
  --glass-blur: 10px;
  --animation-duration: 0.5s;

  --neumorphic-bg: #f0f0f3;
  --glass-border-color: rgba(255, 255, 255, 0.2);
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --animation-speed: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}